.DS_Store
.metadata
cnf/cache
com.brindysoft.mud/generated
com.brindysoft.mud/bin
com.brindysoft.mud/bin_test
com.brindysoft.logging/generated
com.brindysoft.logging/bin
com.brindysoft.logging/bin_test
com.brindysoft.db4o/generated
com.brindysoft.db4o/bin
com.brindysoft.db4o/bin_test
com.brindysoft.db/.classpath
com.brindysoft.db/.project
com.brindysoft.db/generated
com.brindysoft.oodb/generated
com.brindysoft.oodb/bin
com.brindysoft.oodb/.settings
com.brindysoft.oodb/.classpath
com.brindysoft.oodb/.project
com.brindysoft.mud/databases
RemoteSystemsTempFiles
com.brindysoft.necronomud/bin
com.brindysoft.necronomud/.settings
com.brindysoft.necronomud/generated
com.brindysoft.necronomud/.classpath
com.brindysoft.necronomud/.project
com.brindysoft.necronomud/databases
